/*****CSS VARIABLE DECLARATION*****/

:root
{   
    --theme-colour-1: #050D05; /*rgb(5,13,5)*/
    --theme-colour-2:#f1faf1; /*rgb(241,250,241)*/
    --theme-colour-3: #45b344; /*rgb(69,179,68)*/
    --theme-colour-4: #e57338; /*rgb(229,114,56)*/ 
    --theme-colour-3-dark: #2C722B; /*44,114,43*/
    --theme-colour-1-transparent: rgba(5,13,5,0.5);
    --theme-colour-2-transparent: rgba(241,250,241,0.5);
    --theme-colour-3-transparent: rgba(69,179,68,0.5);
    --theme-colour-4-transparent: rgba(229,114,56,0.5);
    --theme-colour-1-transparent-light: rgba(5,13,5,0.15);
    --theme-colour-2-transparent-light: rgba(241,250,241,0.15);
    --theme-colour-3-transparent-light: rgba(69,179,68,0.15);
    --theme-colour-4-transparent-light: rgba(229,114,56,0.15);
    --theme-colour-1-transparent-heavy: rgba(5,13,5,0.85);
    --theme-colour-2-transparent-heavy: rgba(241,250,241,0.85);
    --theme-colour-3-transparent-heavy: rgba(69,179,68,0.85);
    --theme-colour-4-transparent-heavy: rgba(229,114,56,0.85);
    --theme-colour-3-dark-transparent-heavy: rgb(44,114,43,0.85);
    --font-family-1: 'Comfortaa', cursive;
    --font-family-2: 'Montserrat', sans-serif;
    --font-family-3: 'Open Sans', sans-serif;
    --font-family-4: 'Roboto', sans-serif;
    --material-card-shadow-1: 0 16px 24px rgba(0,0,0,0.08), 0 8px 8px rgba(0,0,0,0.15);

}

/*****CSS RESET*****/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}                   

/*****GENERAL*****/

body
{
    font-family: var(--font-family-2);
    line-height: 1.4;
    /*letter-spacing: 0.0625rem;*/
    background-color: var(--theme-colour-2);
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 8px 16px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: var(--font-family-1);
}

button
{
    display: inline-block;
    text-decoration: none;
    border-style: none;
    text-align: center;
    vertical-align: middle;
    font-family: inherit;
    padding: 8px 16px;
    margin: 0;
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

a
{
    text-decoration: none;
    color: var(--theme-colour-1);
    font-family: inherit;
}

img
{
    width: 100%;
    max-width: 100%;
}

i
{
    color: var(--theme-colour-3-dark);
}

/*****SPECIAL CLASSES*****/

.ad-space-leaderboard
{   
    width: 728px;
    height: 90px;
}

.ad-space-half-page
{   
    width: 300px;
    height: 600px;
}

.ad-space-medium-rect
{   
    width: 300px;
    height: 250px;
}

.ad-space-large-rect
{   
    width: 336px;
    height: 280px;
}
                    
/*****GRID CLASSES*****/

.grid
{
    display: grid;
}

.grid-ctr-content
{
    align-content: center;
    justify-content: center;
}

.grid-ctr-items
{
    align-items: center;
    justify-items: center;    
}

.grid-ctr-self
{
    align-self: center;
    justify-self: center;    
}

/*****GRID COLUMN CLASSES*****/

.grid-col-2
{
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4
{
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-5
{
    grid-template-columns: repeat(5, 1fr);
}

.grid-col-auto-fit
{
    grid-template-columns: repeat(auto-fit, 1fr);
}

/******GRID ROW CLASSES*****/

.grid-row-2
{
    grid-template-rows: repeat(2, 1fr);
}

.grid-row-3
{
    grid-template-rows: repeat(3, 1fr);
}

.grid-row-4
{
    grid-template-rows: repeat(4, 1fr);
}

.grid-row-5
{
    grid-template-rows: repeat(5, 1fr);
}

.grid-row-auto-fit
{
    grid-template-rows: repeat(auto-fit, 1fr);
}

/*****FLEXBOX CLASSES*****/

.flexbox
{
    display: flex;
}

/*****CONTAINER CLASSES*****/

.container
{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.inner-container
{
    max-width: 1168px;
    height: 100%;
    margin: auto;
}

.form-container
{
    max-width: 90%;
}

/*****BUTTON & LINK CLASSES*****/

.btn
{
    color: var(--theme-colour-2);
    background-color: var(--theme-colour-4);
    transition: all 0.3s ease-in-out 0s;
}

.btn:hover, .btn:focus
{
    color: var(--theme-colour-2);
    background-color: var(--theme-colour-3);
    box-shadow: var(--material-card-shadow-1);
    transform: scale(1.02);
}

.link
{
    display: block;
    color: var(--theme-colour-2);
    background-color: var(--theme-colour-4);
    border: none;
    border-radius: 32px;
    padding: 8px 16px;
}

.link:hover, .link:focus
{
    background-color: var(--theme-colour-4-transparent-heavy);
    transform: scale(1.02);
}

/*****DISPLAY CLASSES*****/

.hide-display
{
    display: none;
}

.hide-visibility
{
    visibility: hidden;
}

.show-block
{
    display: block;
}

.show-grid
{
    display: grid;
}

.show-visibility
{
    visibility: visible;
}

.required::after
{
    content: " *";
    color: red;
    font-weight: 900;
}

/*CUSTOM STYLES*/

/*****HEADER*****/

header
{
    height: 192px;
    max-height: 192px;
    z-index: 1000;
    position: relative;
}

#about-html header a, #services-html header a
{
    color: var(--theme-colour-2);
}

#about-html header h2, #services-html header h2
{
    color: var(--theme-colour-2);
    border: none;
}

#about-html header .inner-container > div:first-of-type h2, #services-html header .inner-container > div:first-of-type h2
{
    padding: 4px 8px;
    border: 2px solid var(--theme-colour-2);
    border-radius: 16px;
}

#about-html header .top-nav, #about-html header .top-nav ::after,
#services-html header .top-nav, #services-html header .top-nav ::after
{
    border-color:  rgba(241,250,241,0.32);
}

#about-html header .bottom-nav, #about-html header .bottom-nav ::after, #about-html header .bottom-nav ::before,
#services-html header .bottom-nav, #services-html header .bottom-nav ::after, #services-html header .bottom-nav ::before
{
    border-color:  var(--theme-colour-2);
}

#contact-html .active-link
{
    color: var(--theme-colour-2);
    background-color: var(--theme-colour-3-dark);
    transform: scale(1.2);
}

#contact-html .link:hover, #contact-html .link:focus
{
    background-color: var(--theme-colour-3-dark-transparent-heavy);
    transform: scale(1.22);
}

nav a 
{
    font-family: var(--font-family-1);
    font-weight: 700;
}

.top-nav
{
    height: 64px;
    max-height: 64px;
    border-bottom: 1px solid  rgba(5,13,5,0.08);
}

.top-nav .inner-container
{
    grid-template-columns: 1fr;
    justify-items: right;
}

.top-nav li
{
    padding: 0 8px;
    line-height: 64px;
}

.top-nav li::after
{
    content: "";
    border-right: 1px solid  rgba(5,13,5,0.16);
    line-height: 64px;
    padding-left: 15px;
}

.top-nav li:last-of-type::after, .top-nav li:last-of-type::before
{
    display: none;
}

.top-nav a
{
    display: inline-block;
    transition: all 0.2s ease 0s;
    font-size: 1.2rem;
}

.top-nav a:hover, .top-nav a:focus
{
    color: var(--theme-colour-4);
    transform: scale(1.3);
}

.top-nav a i
{
    color: inherit;
}

.bottom-nav
{
    height: 128px;
    max-height: 128px;
}

.bottom-nav .inner-container > div > a, .bottom-nav .inner-container > div > h2
{
    display: inline-block;
    font-size: 1.2rem;
}

/*.top-nav div, .bottom-nav div
{
    height: 100%;
}*/

nav .inner-container 
{
    height: 100%;
    grid-template-columns: 192px auto 1fr;
    column-gap: 32px;
    justify-items: right;
    align-items: center;
}

.logo
{
    display: flex;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s ease-in-out 0s;
    margin-top: 4px;
}

.logo a
{
    margin: none;
}

.logo:hover, .logo:focus
{
    transform: scale(1.04);
}

ul li
{
    list-style: none;
    display: inline-block;
}

.bottom-nav ul a
{
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    transition: all 0.2s ease-in-out 0s;
    font-weight: 700;
    /*color: inherit;*/
}

.bottom-nav ul a::after
{
    width: 0;
    border-bottom: 2px solid var(--theme-colour-3);
}

.bottom-nav ul a::after, nav .inner-container .active-link::after
{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.15s ease-in-out 0s;
    font-weight: 700;
}

.bottom-nav ul a::before
{
    content: "";
    position: absolute;
    top: -8px;
    right: 0;
    width: 0;
    transition: all 0.15s ease-in-out 0.2s;
    font-weight: 700;
}

nav .inner-container .active-link
{
    color: var(--theme-colour-3-dark);
}

nav .inner-container .active-link::after
{
    width: 100%;
    border-bottom: 2px solid var(--theme-colour-3-dark);
}

.bottom-nav ul li:last-of-type a::after, .bottom-nav ul li:last-of-type a::before
{
    content: none;
}

.bottom-nav ul a:hover, .bottom-nav ul a:focus
{
    color: var(--theme-colour-3);
}

.bottom-nav ul .link:hover, .bottom-nav ul .link:focus
{
    color: var(--theme-colour-2);
}

.bottom-nav ul a:hover::after, nav .inner-container .active-link:hover::after,
.bottom-nav ul a:focus::after, nav .inner-container .active-link:focus::after
{
    width: 67%;
    border-bottom: 2px solid var(--theme-colour-3);
}

.bottom-nav ul a:hover::before, .bottom-nav ul a:focus::before
{
    width: 67%;
    border-top: 2px solid var(--theme-colour-3);
}

/*.bottom-nav ul li:last-of-type a
{
    display: block;
    color: var(--theme-colour-2);
    background-color: var(--theme-colour-4);
    border: none;
    border-radius: 32px;
    padding: 8px 16px;
}

.bottom-nav ul li:last-of-type a:hover
{
    background-color: var(--theme-colour-4-transparent-heavy);
    transform: scale(1.04);
}*/

/*****FOOTER*****/

footer
{
    height: 880px;
    background: linear-gradient(rgba(0,0,0,0.67),rgba(44,114,43,0.67)), url("/img/water_drop.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    color: var(--theme-colour-2);
    z-index: 1000;
    position: relative;
}

footer .container.grid
{
    justify-items: center;
    align-items: center;
}

footer .inner-container
{
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 64px;
}

footer .office-details .grid
{
    grid-template-columns: 32px 1fr;
}

footer .top-nav li
{
    line-height: 48px;
}

footer .office-details p, footer .office-details i
{
    color: var(--theme-colour-2);
    font-size: 1rem;
    align-self: flex-start;
}

footer .office-details > div:first-of-type i
{
    margin-top: 34px;
}

footer .office-details > div:first-of-type p
{
    margin-top: 32px;
}

footer .office-details i
{
    justify-self: center;
    margin-top: 10px;
}

footer .office-details p
{
    justify-self: left;
    margin-top: 8px;
    text-align: justify;
    position: relative;
}

footer .office-details a
{
    justify-self: left;
    text-align: justify;
    transition: all 0.4s ease-in-out 0s;
}

footer .office-details a p::after 
{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--theme-colour-2);
    width: 2px;
    border-radius: 4px;
    transition: all 0.4s ease-in-out 0s;
}

footer .office-details a:hover p::after, footer .office-details a:focus p::after
{
    width: 100%;
}

/*footer p:first-of-type
{
    margin-top: 32px;
    margin-bottom: 0;
}

footer p
{
    margin-top: 16px;
    text-align: center;
}

footer .inner-container > form
{
    grid-column: span 1;
}*/

footer .inner-container > form, footer .inner-container > div
{
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*color: var(--theme-colour-2);*/
}

footer .inner-container > div:first-of-type h2
{
    color: var(--theme-colour-2);
    padding: 4px 8px;
    border: 2px solid var(--theme-colour-2);
    border-radius: 16px;
}

footer .inner-container > div:first-of-type h2::after
{
    content: none;
}

footer form
{
    background: linear-gradient(rgba(245,245,245,0), rgba(245,245,245,0));
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 32px;
    background-position: center center;
    color: var(--theme-colour-2);
}

footer h2
{
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    width: max-content;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    color: var(--theme-colour-2);
}

footer h2::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    width: 64px;
    margin: auto;
    border-bottom: 2px solid var(--theme-colour-2);
}

footer form i
{
    color: inherit;
    font-weight: inherit;
}

footer form > div
{
    /*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));*/
    height: max-content;
}

/*footer form > div > *
{
    margin-left: 16px;
}*/

footer form label
{
    display: block;
    color: inherit;
    font-weight: 400;
}

footer form > div:first-of-type > label
{
    padding-top: 32px;  
}

footer form input, footer form select, footer form textarea
{
    margin-bottom: 8px;
    background: linear-gradient(rgba(245,245,245,0.5), rgba(245,245,245,0.5));
    width: 100%;
    padding: 4px 8px;
    font-family: inherit;
    border: 1px solid rgba(5,13,5,0.33);
    border-radius: 8px;
    position: relative;
}

footer form input:hover, footer form select:hover, footer form textarea:hover,
footer form input:focus, footer form select:focus, footer form textarea:focus
{
    background: linear-gradient(rgba(245,245,245,1), rgba(245,245,245,1));
}

form button
{
    display: block;
    margin-bottom: 16px;
    width: 98%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

footer .top-nav a
{
    color: var(--theme-colour-2);
}

footer .top-nav a:hover, footer .top-nav a:focus
{
    color: var(--theme-colour-2);
}

footer .top-nav
{
    border-bottom: 1px solid  rgba(241,250,241,0.16);
}

footer .top-nav li::after
{
    content: "";
    border-right: 1px solid  rgba(241,250,241,0.16);
}

/*****BODY*****/

section
{
    margin-bottom: 160px;
}

/*section::after
{
    position: absolute;
    content: "";
    margin-top: 109px;
    border-bottom: 8px solid var(--theme-colour-3-dark);
    border-radius: 8px;
    width: 25vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}*/

section .container, section .inner-container
{
    height: 100%;
}

section h2
{
    margin-bottom: 32px;
    font-size: 2rem;
}

section .big-icon
{
    position: relative;
    font-size: 3rem;
    /*margin-bottom: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--theme-colour-3-dark);*/
}

/*section .big-icon::after
{
    position: absolute;
    bottom: -16px;
    left: -64px;
    width: calc(64px + 100% + 64px);
    content: "";
    border-bottom: 1px solid var(--theme-colour-3-dark);
}*/

/*****HERO - INDEX*****/

.hero
{
    height: 640px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.33)), url("/img/hero.jpg") no-repeat fixed;
    background-size: cover;
    background-position: top top;
    /*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/hero.jpg") no-repeat fixed;*/
    color: var(--theme-colour-2);
}

.hero .inner-container
{
    position: relative;
}

.hero .inner-container > div
{
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 40%;
    text-align: justify;
}

.hero h1
{
    font-size: 3rem;
    margin-bottom: 32px;
}

.hero p
{
    font-size: 1.4rem;
    margin-left: 24px;
}

/*****SECTION 2*****/

.section-2 .inner-container 
{
    text-align: center;
    justify-items: center;
}

/*.section-2 i
{
    font-size: 1.8rem;
    margin-bottom: 16px;
}*/

.section-2 .inner-container > div
{
    width: 60%;
}

.section-2 h2, .section-3 h2
{
    position: relative;
}

.section-2 h2::after, .section-3 h2::after
{
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 96px;
    content: "";
    border-bottom: 2px solid var(--theme-colour-3-dark);
}

/*.shape-divider
{
    position: relative;;
}

.custom-shape-divider-top-1607130243 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1607130243 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-top-1607130243 .shape-fill {
    fill: #45B344;
}*/

/*****SECTION 3 - INDEX*****/

.section-3
{
    position: relative;
    background-color: var(--theme-colour-3-transparent-heavy);
    background: linear-gradient(rgba(69,179,68,0.5),rgba(69,179,68,0.25)), url('/img/wipe_counter.jpg') no-repeat fixed;
    background-position: center;
    background-size: cover;
    height: 840px;
}

.section-3 div
{
    max-height: 100%;
}

.section-3 .container, .section-3 .inner-container
{
    position: relative;
}

.section-3 .inner-container
{
    justify-items: center;
    align-items: center;
}

.section-3 .card-container
{
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /*margin-top: 96px;*/
    margin: auto;
}

.section-3 .card-container::after
{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 5px solid var(--theme-colour-4);
    transition: all 0.3s ease-in-out 0s;
}

.section-3 .card-container:hover, .section-3 .card-container:focus
{
    box-shadow: var(--material-card-shadow-1);
    transform: scale(1.01);
    /*height: calc(400px * 1.01);
    width: calc(320px * 1.01);*/
}

.section-3 .card-container:hover::after, .section-3 .card-container:focus::after
{
    width: 100%;
}

.section-3 .card-content
{
    height: 448px;
    width: 320px;
    /*font-size: 0.9rem;*/
}

.section-3 .card-content i
{
    /*font-size: 1.8rem;*/
    margin-top: 32px;
    /*margin-bottom: 16px;*/
}

.section-3 .card-container:first-child, .section-3 .card-container:last-child
{
    background-color: var(--theme-colour-2);
    text-align: center;
}   

@keyframes wipe
{
    0% {background-position: 100% -10%;}
    10% {background-position: -32px 300%;}
    20% {background-position: -16px 1000%;}
    30% {background-position: 32px 600%;}
    40% {background-position: 16px -10%;}
    50% {background-position: 100% -10%;}
    60% {background-position: 16px -10%;}
    70% {background-position: 32px 240%;}
    80% {background-position: -16px 240%;}
    90% {background-position: -32px 125%;}
    100% {background-position: 100% -10%;}
}

.section-3 .card-container:nth-child(2)
{
    background: url("/img/wipe_nobg.png") no-repeat;
    background-position: -20px -10%;
    background-size: cover;
    /*filter: blur(2px);*/
    transition: all 0.6s ease-in-out 0s;
}

.section-3 .card-container:nth-child(2):hover, .section-3 .card-container:nth-child(2):focus
{
    /*background-position: 90% 240%;*/
    box-shadow: none;
    transform: none;
    animation-name: wipe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
    animation-delay: 1s;
    /*filter: blur(0px);*/
}

.section-3 .card-container:nth-child(2)::after
{
    content: none;
}

.section-3 .card-container:nth-child(2) .card-content
{
    position: relative;
    height: 464px;
    width: 320px;
}

.section-3 .card-container:nth-child(2) h3
{
    color: var(--theme-colour-2);
    visibility: inherit;
    font-weight: 700;
}

.section-3 .card-container:nth-child(2) img
{
    visibility: inherit;
}

@keyframes slide_right
{
    0% {padding-left: 20%;}
    50% {padding-left: 50%;}
    100% {padding-left: 20%;}
}

@keyframes slide_left
{
    0% {padding-right: 20%;}
    50% {padding-right: 50%;}
    100% {padding-right: 20%;}
}

@keyframes shake_left
{
    0% {margin-left: 0;}
    25% {margin-left: -32px;}
    50% {margin-left: 0;}
    75% {margin-left: 32px;}
    100% {margin-left: 0;}
}

@keyframes shake_right
{
    0% {margin-right: 0;}
    25% {margin-right: -32px;}
    50% {margin-right: 0;}
    75% {margin-right: 32px;}
    100% {margin-right: 0;}
}

/*ANIMATED WORDS*/

/*.section-3 .card-container:nth-child(2) h3:nth-of-type(1)
{
    transition: all 1.6s ease-in-out 1s;
    text-align: end;
    margin-right: 32px;
    animation-name: shake_right;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2) h3:nth-of-type(2)
{
    transition: all 1.5s ease-in-out 1s;
    text-align: left;
    animation-name: slide_right;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2) h3:nth-of-type(3)
{
    transition: all 1.3s ease-in-out 1s;
    text-align: center;
}

.section-3 .card-container:nth-child(2) h3:nth-of-type(4)
{
    transition: all 1.2s ease-in-out 1s;
    text-align: right;
    animation-name: slide_left;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2) h3:nth-of-type(5)
{
    transition: all 1.1s ease-in-out 1s;
    margin-left: 32px;
}

.section-3 .card-container:nth-child(2) h3:nth-of-type(3),
.section-3 .card-container:nth-child(2) h3:nth-of-type(5)
{
    animation-name: shake_left;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}*/

/*ANIMATED VIRUSES*/

.section-3 .card-container:nth-child(2) img
{
    position: absolute;
    object-fit: contain;
    max-width: 144px;
}

.section-3 .card-container:nth-child(2) img:nth-of-type(1)
{
    top: 16px;
    right: 32px;
    transition: all 0.9s ease-in-out 1s;
    animation-name: shake_right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2) img:nth-of-type(2)
{
    top: 48px;
    left: auto;
    right: auto;
    transition: all 0.7s ease-in-out 1s;
    animation-name: slide_right;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2) img:nth-of-type(3)
{
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 112px;
    transition: all 0.8s ease-in-out 1s;
}

.section-3 .card-container:nth-child(2) img:nth-of-type(4)
{
    top: 80px;
    left: 32px;
    transition: all 0.6s ease-in-out 1s;
    animation-name: slide_left;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2) img:nth-of-type(5)
{
    top: 112px;
    left: 32px;
    width: 96px;
    transition: all 0.3s ease-in-out 1s;
}

.section-3 .card-container:nth-child(2) img:nth-of-type(3),
.section-3 .card-container:nth-child(2) img:nth-of-type(5)
{
    animation-name: shake_left;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10000,end);
}

.section-3 .card-container:nth-child(2):hover h3,
.section-3 .card-container:nth-child(2):hover img,
.section-3 .card-container:nth-child(2):focus h3,
.section-3 .card-container:nth-child(2):focus img
{
    visibility: hidden;
}

.section-3 .card-content a
{
    width: max-content;
    margin: 32px auto;
}

/*.section-3 .card-container svg
{
    position: relative;
    height: 240px;
    background: url("/img/logos/4.png") no-repeat center;
    background-size: contain;
}

.section-3 .card-container svg path
{
    fill: var(--theme-colour-2-transparent-light);
}*/

/*.custom-shape-divider-top-1607132462 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1607132462 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1607132462 .shape-fill {
    fill: #F1FAF1;
}

.custom-shape-divider-bottom-1607132672 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1607132672 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1607132672 .shape-fill {
    fill: #F1FAF1;
}*/

.custom-shape-divider-top-1607223667 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1607223667 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1607223667 .shape-fill {
    fill: #F1FAF1;
}

.custom-shape-divider-bottom-1607275863 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1607275863 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1607275863 .shape-fill {
    fill: #F1FAF1;
}

/*****SECTION 4 - INDEX*****/

.section-4 .inner-container > h2
{
    margin-bottom: 32px;
    font-size: 3rem;
}

.section-4 .inner-container > div h2
{
    font-size: 1.4rem;
}

.section-4 .inner-container
{
    row-gap: 80px;
}

.section-4 .inner-container > div
{
    column-gap: 64px;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: auto auto;
}

.section-4 .inner-container > div div
{
    overflow: hidden;
    border-radius: 32px;
}

.section-4 .inner-container >  div:nth-of-type(odd) > div:first-of-type
{
    order: 0;
}

.section-4 .inner-container >  div:nth-of-type(even) > div:first-of-type
{
    order: 1;
}

.section-4 .inner-container img
{
    display: block;
    object-fit: cover;
    filter: brightness(90%);
    transition: all 0.3s ease-in-out 0s;
}

.section-4 .inner-container img:hover, .section-4 .inner-container img:focus
{
    transform: scale(1.1);
    filter: brightness(100%);
}

/*****SECTION 5 - INDEX*****/

.section-5
{
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0)), url("/img/office_desk.jpg") no-repeat fixed;
    background-position: 50% 100%;
    background-size: cover;
    height: 720px;
}

.section-5 .inner-container > h2
{
    font-size: 3rem;
    color: var(--theme-colour-2);
}

.section-5 .inner-container > a
{
    font-size: 1.6rem;
    padding: 8px 16px;
    border-radius: 32px;
    color: var(--theme-colour-2);
    background-color: var(--theme-colour-1-transparent);
    transition: all 0.3s ease-in-out 0s;
}

.section-5 .inner-container > a:hover, .section-5 .inner-container > a:focus
{
    background-color: var(--theme-colour-1);
}

.section-5 .inner-container i
{
    color: var(--theme-colour-2);
}

/*****HERO - ABOUT*****/

.about-html .hero
{
    height: 832px;
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.75)), url("/img/miami_beach.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center center;
    margin-top: -192px;
    text-align: left;
}

.about-html .hero .inner-container > div
{
    position: initial;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.about-html .hero .inner-container h1, .about-html .hero .inner-container p
{
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
}

.about-html .hero .inner-container h1
{
    margin-bottom: 16px;
}

/*****SECTION 2 - ABOUT*****/

/*****HERO - SERVICES*****/

.services-html .hero
{
    height: 832px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.75)), url("/img/cleanup_tools.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center center;
    margin-top: -192px;
    text-align: left;
}

.services-html .hero .inner-container > div
{
    position: initial;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

/*****SECTION 2 - SERVICES*****/

/*****HERO - CONTACT*****/

.contact-html .hero
{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.75));
}

.contact-html .hero div
{
    height: 100%;
}

.contact-html .hero div > div > div
{
    position: initial;
    height: 100%;
    width: 100%;
}

.contact-html .hero iframe
{
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(85%);
}

/*****SECTION 2 - CONTACT*****/